@import url('https://fonts.googleapis.com/css?family=Roboto:100,200.300.400,500,600,700|Exo:100,200.300.400,500,600,700');




    


/********* h1 h2 h3 h4 h5 ****/

h4{
    text-align: center;
    padding: 0px;
    margin-top: 80px;
    font-family: "Exo", sans-serif;
    letter-spacing: 0.3em;
    font-weight: bold;
    color: #afafaf;
    
}

h5{
     text-align: left;
    padding: 0px;
    
    font-family: "Exo", sans-serif;
    letter-spacing: 0.3em;
    font-weight: bolder;
    color: #afafaf;
}

h3 {
    text-align: center;
    font-family: "Exo", sans-serif;
    letter-spacing: 0.3em;
    color: #afafaf;
}


h1  {
    text-align: center;
    padding: 0px;
    margin-top: 20px;
    font-family: "Exo", sans-serif;
    letter-spacing: 0.3em;
    font-weight: bold;
    color: #afafaf;
}

h1 a:hover{
    text-decoration: none;
}

/******** hr rule ******/

.divider{
    width: 200px;
    height: 2px;
    background-color: #E32233;
}

/********* p ***********/

p{
    text-align: center;
    margin-bottom: 40px;
    
   
}

/********* header ************/


.main-background{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   }
   
.wrapper{
    margin-top: 30px;
     
}

.wrapper-mp3{
    margin-top: 100px;
     
}
    
.center {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 25%;
    padding-right: 25%;
    } 

#nav{
    margin: 5px;
    padding-left: 5px;
    font-size: 25px;
    color: #afafaf;
    font-family: "Exo", sans-serif;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration: none;
    }
    
#nav-media{
    margin: 5px;
    padding-left: 5px;
    color: #afafaf;
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5em;
    text-decoration: none;
    }
    
.active{
    font-weight: bold;
}


/****** section *******/

.newsletter-background{
    height: 600px;
    background: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

.bio-image{
    height: 180px;
    width: 180px;
    display: block;
    margin: 70px auto 20px auto;
    }

.video-style{
    width: 100%;
    height: 300px;
    margin: 20px auto 35px auto;
    box-shadow: 10px 10px 10px  #777777;
}

.mp3-image{
    width: 100%;
    height: 400px;
    background-image: url("images/mp3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
   
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.box-style{
    box-shadow: 10px 10px 10px  #777777;
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
}


.heading{
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
    
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 100%;
    
}

.center-form-booking{
    
    margin: 0 auto;
    max-width: 80%;
    padding: 15px;
    height: auto;
    background-color: #fafafa;
     }
     
.form-booking-style{
    margin-top: 20px;
    margin-bottom: 20px;
}
    

     
    textarea{
        width: 100%;
        height:200px;
    }


.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 0px;
    font-size: 17px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #afafaf;
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  #afafaf;
     opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:  #afafaf;
     opacity: 0.5;
}

.spotify-amazon-style{
    padding-bottom: 15px;
}

.mp3-style{
    padding-top: 100px;
}

.mail-style{
    background-color: #fff;
    margin-top:  200px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.mail-image{
    width: 100%;
    height: 600px;
    background-image: url("images/mail.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
   
}

/****** footer ********/

.nav-footer{
    margin-top: 10px; 
   
    color: #afafaf;
    font-family: "Exo", sans-serif;
    text-align: center;
    letter-spacing: 0.3em;
    line-height: 2em;
    
    }

footer{
    
   min-height: 260px;
   
    background-color: #eaeaea;
   
}

ul {
    list-style-type: none;
    }

#nav .li{
    padding-left: 45px;
    
}

#nav li a:hover{
    text-decoration: none;
    color: #acacac;
}

#nav-media li a:hover{
    text-decoration: none;
    color: #acacac;
}

.social-media li a i{
    font-size: 20px;
    margin: 5px;
    color: #fafafa;
    background-color: #afafaf;
    border-radius: 50%;
    padding: 5px;
    
    }
    
.quick-links li a{
    font-size: 15px;
     color: #afafaf;
}

/******** media queries *******/


/* iPhone (portrait and landscape) ----------- */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px)  {
.phone{
   
    max-width: 100%;
    padding: 0;
    height: 60%;
    border: 0px;
   
    }

}



/* iPhone5 (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px)  {
.phone5{
   
    max-width: 100%;
    padding: 0;
    font-size: 1px;
    height: 60%;
    border: 0px;
   
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
.tablet{
    
   max-width: 100%;
   height: auto;
   padding: 0;
   
    }
}

/* s7 (portrait and landscape) ----------- */
@media only screen and (min-device-width : 414px) and (max-device-width : 732px)  {
.s7{
  
    max-width: 100%;
    height: 60%;
    border: 0px;
   
    }

}

/* s5 (portrait and landscape) ----------- */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px)  {
.s5{
    
    max-width: 100%;
    padding: 0;
    height: 60%;
    border: 0px;
    
    }

}

